services:
  postgres:
    image: postgres:15
    ports:
      - 5432:5432
    container_name: 'postgresql'
    working_dir: /app
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgresql-java-basic:/var/lib/postgresql/data

volumes:
  postgresql-java-basic:
